# Group Project 1130

## *AirBnb DataSet Problem*

## Goals (3 min)

To understand and work with the AirBnb datasets to solve our business problem 

## Introduction (5 min)

**Business Context.** We are a company looking to expand our ventures based off tourism.

**Business Problem.** The main Task is  **wrangle datasets related to AirBnb and create a critera to figure out the areas to build in**.

**Analytical Context.** Text data is highly unstructured, and often requires pre-processing before we can gather any business insights from it. We will be leveraging tools from **natural language processing (NLP)** in order to help us process this data and generate new features that can be used for analytics or model building.

The case will proceed as follows: 
1. We will extract the files based off what they are
2. We will clean the data 
3. Create bar graph and determine average age in each major zipcode 
4. Same as above but with economic demos 
5. Average Airbnb review per zip code /posyiieve airbnb reviews if they're text
6. Average size of Airbnb per zip code 
7. Average cost of Airbnb per zip code 
8. Airbnb date availability
9. Using all these graphs and our critera we will decide where to build

In [1]:
import nltk # imports the natural language toolkit
nltk.download('punkt')
nltk.download('stopwords')
import pandas as pd
import numpy  as np
import string
import zipfile
import plotly
import tarfile
import gzip
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\abdul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\abdul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# LOADING THE DATASETS
demo = pd.read_csv('demographics.csv')
econ = pd.read_csv('econ_state.csv')
listings = pd.read_csv('listings.csv')

realestate = pd.read_csv('real_estate.csv.gz', compression='gzip')

venues = pd.read_csv('venues.csv.gz', compression='gzip')

zf = zipfile.ZipFile('calendar.csv.zip') 
calendar = pd.read_csv(zf.open('calendar.csv'))
ziplook = pd.read_csv('zipcodesForLookup.csv')

In [3]:
demo.head()

,zipcode,5_years_or_less,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,...,"$10,000-$14,999","$15,000-$24,999","$25,000-$34,999","$35,000-$49,999","$50,000-$64,999","$65,000-$74,999","$75,000-$99,999","$100,000_or_more",median_household_income,mean_household_income
0,601,17982,1006,1080,1342,1352,1321,2253,2149,2434,...,48.1,12,12.8,8.6,8.7,6.2,1.4,16.3,10816,20349
1,602,40260,2006,2440,2421,2953,2865,5124,5139,5947,...,31.4,16.3,17.9,12.2,10.6,7.7,2.9,21.2,16079,23282
2,603,52408,2664,3177,3351,3685,3585,6473,6775,6678,...,31,14.9,17.5,11.7,10.8,8.7,2.4,21.9,16804,26820
3,606,6331,347,331,461,474,469,707,933,776,...,45.3,10.2,20,11.7,11,1.8,0,12.8,12512,15730
4,610,28328,1438,1490,2044,2122,1985,3358,3778,3858,...,26.9,14.8,23.7,15.2,9.3,7.5,1.6,18.4,17475,23360

In [4]:
econ.head()

,state,2005Q1_gdp,2005Q2_gdp,2005Q3_gdp,2005Q4_gdp,2006Q1_gdp,2006Q2_gdp,2006Q3_gdp,2006Q4_gdp,2007Q1_gdp,...,2016/03_ur,2016/04_ur,2016/05_ur,2016/06_ur,2016/07_ur,2016/08_ur,2016/09_ur,2016/10_ur,2016/11_ur,2016/12_ur
0,AL,153332,155940,157437,160293,161934,163974,165470,166495,166821,...,6.6,6.6,6.6,6.7,6.7,6.7,6.6,6.6,6.6,6.6
1,AK,37517,38907,40691,43138,42872,44653,45349,45840,46658,...,5.9,5.8,5.8,5.8,5.8,5.9,6.0,6.1,6.2,6.3
2,AZ,218206,224496,231629,235099,241787,244659,250886,256505,258078,...,4.1,4.1,4.1,4.1,4.0,4.0,4.0,4.0,4.0,3.9
3,AR,88446,89264,90515,93050,93413,95259,95481,95203,94289,...,5.5,5.4,5.3,5.3,5.2,5.1,5.1,5.0,5.0,5.0
4,CA,1722091,1747827,1787427,1809426,1857944,1865835,1886549,1907754,1915172,...,5.6,5.5,5.5,5.5,5.4,5.4,5.3,5.3,5.3,5.2

In [18]:
realestate

,type,zipcode,city,state,metro,county,size_rank,1996-04,1996-05,1996-06,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
0,ZHVI,10025,New York,NY,New York,New York,1,NaN,NaN,NaN,...,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000
1,ZHVI,60657,Chicago,IL,Chicago,Cook,2,146700.0,146500.0,146300.0,...,318200,318100,318800,320200.0,320800,322000,323800,326100,327800,329100
2,ZHVI,60614,Chicago,IL,Chicago,Cook,3,198000.0,195500.0,194200.0,...,401900,406000,414100,417800.0,417400,418400,414100,404100,406400,415500
3,ZHVI,79936,El Paso,TX,El Paso,El Paso,4,70800.0,71000.0,71000.0,...,113800,113900,114100,114500.0,114900,115000,114700,114700,114800,114700
4,ZHVI,60640,Chicago,IL,Chicago,Cook,5,102300.0,101300.0,100700.0,...,198800,199200,200100,201500.0,203000,205100,206700,206500,206200,206700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29106,ZRI,12720,Bethel,NY,NaN,Sullivan,15907,NaN,NaN,NaN,...,1185,1181,1174,1167.0,1156,1162,1175,1194,1202,1206
29107,ZRI,1338,Shelburne Falls,MA,Greenfield Town,Franklin,15908,NaN,NaN,NaN,...,1769,1772,1775,1780.0,1786,1790,1797,1798,1796,1795
29108,ZRI,21405,Annapolis,MD,Baltimore,Anne Arundel,15909,NaN,NaN,NaN,...,4048,4005,3888,3729.0,3563,3493,3474,3496,3488,3471
29109,ZRI,85220,Apache Junction,AZ,Phoenix,Pinal,15910,NaN,NaN,NaN,...,1007,1018,1035,1052.0,1061,1060,1058,1065,1074,1080
29110,ZRI,89595,Reno,NV,Reno,Washoe,15911,NaN,NaN,NaN,...,872,877,871,863.0,843,826,816,820,838,848

In [6]:
calendar.head()

   listing_id        date available  price metro_area
0        2515  2018-03-05         t   69.0        NYC
1        2515  2018-03-04         t   69.0        NYC
2        2515  2018-03-03         t   69.0        NYC
3        2515  2018-03-02         t   69.0        NYC
4        2515  2018-03-01         t   69.0        NYC

In [7]:
venues.head()

,city,id,latitude,longitude,name,rating,types
0,new york city,b1a0d113cb17d1d85f0e12700dd71f36bddedc54,40.601540,-73.729636,A Bacon Yacht Charter,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
1,new york city,8799bb8d8ac7c2e1933f92ac1ef0f69a5e0b37c1,40.608921,-73.728256,Mezzanote,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
2,new york city,f2390680116af4d62e0da6f0432d33e94b9cb0e6,40.616978,-73.730349,Prime Bistro,4.0,"['bar', 'restaurant', 'food', 'point_of_intere..."
3,new york city,e9294eb56025e8eb29b937dc0aca29fd3059b9ab,40.617318,-73.730637,Rita's Ice,4.6,"['restaurant', 'food', 'point_of_interest', 'e..."
4,new york city,5c7b72c7bf9e7bc4f94baf09db1252088087f65d,40.618371,-73.728178,Cho-Sen Island,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."

### Exercise 1: (4 min)

Clean the data

In [8]:
# Cleaning venues, only get NYC drops NA values
venuescl = venues[venues.city == 'new york city']
venuescl[venuescl.columns[~venues.isnull().any()]]
venuescl = venuescl.dropna(how='any',axis=0) 
venuescl

,city,id,latitude,longitude,name,rating,types
2,new york city,f2390680116af4d62e0da6f0432d33e94b9cb0e6,40.616978,-73.730349,Prime Bistro,4.0,"['bar', 'restaurant', 'food', 'point_of_intere..."
3,new york city,e9294eb56025e8eb29b937dc0aca29fd3059b9ab,40.617318,-73.730637,Rita's Ice,4.6,"['restaurant', 'food', 'point_of_interest', 'e..."
4,new york city,5c7b72c7bf9e7bc4f94baf09db1252088087f65d,40.618371,-73.728178,Cho-Sen Island,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."
5,new york city,0b99220b44ee0d45d28f44e95d08da112f6e2ca7,40.618126,-73.728679,Sunflower Cafe- Lawrence,4.2,"['cafe', 'restaurant', 'food', 'point_of_inter..."
6,new york city,97fdbf124eeb91d70d7c3f710ca52c997d618bb9,40.617592,-73.729390,Sushi Tokyo Lawrence,4.0,"['restaurant', 'food', 'point_of_interest', 'e..."
...,...,...,...,...,...,...,...
130580,new york city,3a87c22d2097ff671c680532bcf99d5665c2f79d,40.767784,-73.974471,Victorian Gardens Amusement Park,4.0,"['amusement_park', 'point_of_interest', 'estab..."
130583,new york city,1399b4a298f5376d6639f7a7250f847b22aa7c81,40.590669,-73.994694,Adventurers Amusement Park,4.0,"['amusement_park', 'point_of_interest', 'estab..."
130584,new york city,ee5de6cef5e9acd0820f0f293b5788f06f027bab,40.694869,-74.001728,Brooklyn Bridge Park Pier 5,4.6,"['amusement_park', 'premise', 'point_of_intere..."
130586,new york city,680c0019c6aec12c75a21dd8ba1568e78eb0c3b8,40.873391,-73.990393,Field Station: Dinosaurs,3.6,"['amusement_park', 'point_of_interest', 'estab..."
130587,new york city,9a9197183b0dc768834ece2a7efcc1937a0d135d,40.706807,-74.018736,Oasis Park,4.8,"['amusement_park', 'point_of_interest', 'estab..."

In [19]:
# Cleaning Calender, drops NAS and gets only avaliable airbnbs
calendar_aval = calendar[calendar.available == 't']
calendar_aval[calendar_aval.columns[~calendar_aval.isnull().any()]]
calendar_aval = calendar_aval[calendar_aval.metro_area == 'NYC']
calendar_aval[calendar_aval.columns[~calendar_aval.isnull().any()]]
calendar_aval

          listing_id        date available  price metro_area
0               2515  2018-03-05         t   69.0        NYC
1               2515  2018-03-04         t   69.0        NYC
2               2515  2018-03-03         t   69.0        NYC
3               2515  2018-03-02         t   69.0        NYC
4               2515  2018-03-01         t   69.0        NYC
...              ...         ...       ...    ...        ...
14874793    18519989  2017-06-23         t  159.0        NYC
14874794    18519989  2017-06-22         t  154.0        NYC
14874795    18519989  2017-06-21         t  153.0        NYC
14874796    18519989  2017-06-20         t  150.0        NYC
14874797    18519989  2017-06-19         t  145.0        NYC

[5464228 rows x 5 columns]

In [10]:
# Cleaning real estate, gets only 2016-08 onwards
realcleaned = realestate.filter(["type","zipcode","city","state","metro","county","size_rank","2016-08","2016-09","2016-10","2016-11","2016-12","2017-01","2017-02","2017-03","2017-04","2017-05","2017-06"], axis=1)
realcleaned = realcleaned[realcleaned.city == 'New York']
realcleaned[realcleaned.columns[~realcleaned.isnull().any()]]
realcleaned

,type,zipcode,city,state,metro,county,size_rank,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
0,ZHVI,10025,New York,NY,New York,New York,1,1132500,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000
8,ZHVI,11226,New York,NY,New York,Kings,9,572800,583600,594800,605200,612100.0,612800,616900,628900,644200,653500,658700
10,ZHVI,10016,New York,NY,New York,New York,11,917000,934800,946000,949200,950000.0,951800,960100,972200,986900,1021200,1061200
17,ZHVI,10128,New York,NY,New York,New York,18,1077000,1074900,1076400,1090300,1111300.0,1133100,1154700,1189800,1241000,1288200,1318300
23,ZHVI,10462,New York,NY,New York,Bronx,24,118200,120600,121600,121500,121000.0,121100,123200,126200,128700,131900,135400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23669,ZRI,11363,New York,NY,New York,Queens,10470,2522,2547,2571,2608,2627.0,2657,2680,2697,2697,2707,2739
23952,ZRI,10006,New York,NY,New York,New York,10753,3505,3481,3456,3439,3410.0,3386,3361,3331,3301,3284,3289
24257,ZRI,10004,New York,NY,New York,New York,11058,4918,4871,4836,4806,4774.0,4761,4738,4740,4749,4781,4770
24892,ZRI,10464,New York,NY,New York,Bronx,11693,1903,1898,1877,1858,1843.0,1853,1885,1915,1927,1938,1946
25197,ZRI,11005,New York,NY,New York,Queens,11998,2150,2133,2130,2145,2157.0,2160,2155,2157,2163,2160,2145

In [11]:
#Econ doesnt need cleaning
democlean = demo.filter(["zipcode","20-24_years","25-34_years","35-44_years","35,000","50,000","65,000","75,000","households","$9,999_or_less","$10,000-$14,999","$15,000-$24,999","$25,000-$34,999","$35,000-$49,999","$50,000-$64,999","$65,000-$74,999","$75,000-$99,999","$100,000_or_more","median_household_income","mean_household_income"], axis=1)
democlean = demo.dropna(how='any',axis=0) 
democlean

,zipcode,5_years_or_less,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,...,"$10,000-$14,999","$15,000-$24,999","$25,000-$34,999","$35,000-$49,999","$50,000-$64,999","$65,000-$74,999","$75,000-$99,999","$100,000_or_more",median_household_income,mean_household_income
0,601,17982,1006,1080,1342,1352,1321,2253,2149,2434,...,48.1,12,12.8,8.6,8.7,6.2,1.4,16.3,10816,20349
1,602,40260,2006,2440,2421,2953,2865,5124,5139,5947,...,31.4,16.3,17.9,12.2,10.6,7.7,2.9,21.2,16079,23282
2,603,52408,2664,3177,3351,3685,3585,6473,6775,6678,...,31,14.9,17.5,11.7,10.8,8.7,2.4,21.9,16804,26820
3,606,6331,347,331,461,474,469,707,933,776,...,45.3,10.2,20,11.7,11,1.8,0,12.8,12512,15730
4,610,28328,1438,1490,2044,2122,1985,3358,3778,3858,...,26.9,14.8,23.7,15.2,9.3,7.5,1.6,18.4,17475,23360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,13,0,0,0,0,0,0,0,0,...,0,46.2,53.8,0,0,0,0,0,-,N
33116,99925,826,65,50,47,36,60,86,82,111,...,7.1,6.2,21.2,11.1,12.6,17.5,9.5,39.6,38594,52706
33117,99926,1711,161,124,140,113,107,224,182,236,...,5.5,1.9,14.1,11.1,16.8,14.5,12,43.3,51071,71580
33118,99927,123,0,0,0,0,0,0,32,22,...,28.2,0,23.1,15.4,25.6,0,0,25.6,19861,35617
33119,99929,2365,89,103,133,142,100,223,197,381,...,5.1,6.9,14.2,9.9,15.1,17.6,13.6,46.3,47941,62587

### Isolating data for NYC

Here we will isolate the data in each DF for NYC

In [12]:
zipdict = ziplook.set_index('Column1').T.to_dict('list')
zipdict

{10001: ['Manhattan'],
 10002: ['Manhattan'],
 10003: ['Manhattan'],
 10004: ['Manhattan'],
 10005: ['Manhattan'],
 10006: ['Manhattan'],
 10007: ['Manhattan'],
 10009: ['Manhattan'],
 10010: ['Manhattan'],
 10011: ['Manhattan'],
 10012: ['Manhattan'],
 10013: ['Manhattan'],
 10014: ['Manhattan'],
 10015: ['Manhattan'],
 10016: ['Manhattan'],
 10017: ['Manhattan'],
 10018: ['Manhattan'],
 10019: ['Manhattan'],
 10020: ['Manhattan'],
 10021: ['Manhattan'],
 10022: ['Manhattan'],
 10023: ['Manhattan'],
 10024: ['Manhattan'],
 10025: ['Manhattan'],
 10026: ['Manhattan'],
 10027: ['Manhattan'],
 10028: ['Manhattan'],
 10029: ['Manhattan'],
 10030: ['Manhattan'],
 10031: ['Manhattan'],
 10032: ['Manhattan'],
 10033: ['Manhattan'],
 10034: ['Manhattan'],
 10035: ['Manhattan'],
 10036: ['Manhattan'],
 10037: ['Manhattan'],
 10038: ['Manhattan'],
 10039: ['Manhattan'],
 10040: ['Manhattan'],
 10041: ['Manhattan'],
 10044: ['Manhattan'],
 10045: ['Manhattan'],
 10048: ['Manhattan'],
 10055: ['Manhattan'],
 10060: ['Manhattan'],
 10069: ['Manhattan'],
 10090: ['Manhattan'],
 10095: ['Manhattan'],
 10098: ['Manhattan'],
 10099: ['Manhattan'],
 10103: ['Manhattan'],
 10104: ['Manhattan'],
 10105: ['Manhattan'],
 10106: ['Manhattan'],
 10107: ['Manhattan'],
 10110: ['Manhattan'],
 10111: ['Manhattan'],
 10112: ['Manhattan'],
 10115: ['Manhattan'],
 10118: ['Manhattan'],
 10119: ['Manhattan'],
 10120: ['Manhattan'],
 10121: ['Manhattan'],
 10122: ['Manhattan'],
 10123: ['Manhattan'],
 10128: ['Manhattan'],
 10151: ['Manhattan'],
 10152: ['Manhattan'],
 10153: ['Manhattan'],
 10154: ['Manhattan'],
 10155: ['Manhattan'],
 10158: ['Manhattan'],
 10161: ['Manhattan'],
 10162: ['Manhattan'],
 10165: ['Manhattan'],
 10166: ['Manhattan'],
 10167: ['Manhattan'],
 10168: ['Manhattan'],
 10169: ['Manhattan'],
 10170: ['Manhattan'],
 10171: ['Manhattan'],
 10172: ['Manhattan'],
 10173: ['Manhattan'],
 10174: ['Manhattan'],
 10175: ['Manhattan'],
 10176: ['Manhattan'],
 10177: ['Manhattan'],
 10178: ['Manhattan'],
 10199: ['Manhattan'],
 10270: ['Manhattan'],
 10271: ['Manhattan'],
 10278: ['Manhattan'],
 10279: ['Manhattan'],
 10280: ['Manhattan'],
 10281: ['Manhattan'],
 10282: ['Manhattan'],
 10301: ['Staten'],
 10302: ['Staten'],
 10303: ['Staten'],
 10304: ['Staten'],
 10305: ['Staten'],
 10306: ['Staten'],
 10307: ['Staten'],
 10308: ['Staten'],
 10309: ['Staten'],
 10310: ['Staten'],
 10311: ['Staten'],
 10312: ['Staten'],
 10314: ['Staten'],
 10451: ['Bronx'],
 10452: ['Bronx'],
 10453: ['Bronx'],
 10454: ['Bronx'],
 10455: ['Bronx'],
 10456: ['Bronx'],
 10457: ['Bronx'],
 10458: ['Bronx'],
 10459: ['Bronx'],
 10460: ['Bronx'],
 10461: ['Bronx'],
 10462: ['Bronx'],
 10463: ['Bronx'],
 10464: ['Bronx'],
 10465: ['Bronx'],
 10466: ['Bronx'],
 10467: ['Bronx'],
 10468: ['Bronx'],
 10469: ['Bronx'],
 10470: ['Bronx'],
 10471: ['Bronx'],
 10472: ['Bronx'],
 10473: ['Bronx'],
 10474: ['Bronx'],
 10475: ['Bronx'],
 11004: ['Queens'],
 11101: ['Queens'],
 11102: ['Queens'],
 11103: ['Queens'],
 11104: ['Queens'],
 11105: ['Queens'],
 11106: ['Queens'],
 11109: ['Queens'],
 11201: ['Brooklyn'],
 11203: ['Brooklyn'],
 11204: ['Brooklyn'],
 11205: ['Brooklyn'],
 11206: ['Brooklyn'],
 11207: ['Brooklyn'],
 11208: ['Brooklyn'],
 11209: ['Brooklyn'],
 11210: ['Brooklyn'],
 11211: ['Brooklyn'],
 11212: ['Brooklyn'],
 11213: ['Brooklyn'],
 11214: ['Brooklyn'],
 11215: ['Brooklyn'],
 11216: ['Brooklyn'],
 11217: ['Brooklyn'],
 11218: ['Brooklyn'],
 11219: ['Brooklyn'],
 11220: ['Brooklyn'],
 11221: ['Brooklyn'],
 11222: ['Brooklyn'],
 11223: ['Brooklyn'],
 11224: ['Brooklyn'],
 11225: ['Brooklyn'],
 11226: ['Brooklyn'],
 11228: ['Brooklyn'],
 11229: ['Brooklyn'],
 11230: ['Brooklyn'],
 11231: ['Brooklyn'],
 11232: ['Brooklyn'],
 11233: ['Brooklyn'],
 11234: ['Brooklyn'],
 11235: ['Brooklyn'],
 11236: ['Brooklyn'],
 11237: ['Brooklyn'],
 11238: ['Brooklyn'],
 11239: ['Brooklyn'],
 11241: ['Brooklyn'],
 11242: ['Brooklyn'],
 11243: ['Brooklyn'],
 11249: ['Brooklyn'],
 11252: ['Brooklyn'],
 11256: ['Brooklyn'],
 11351: ['Queens'],
 11354: ['Queens'],
 11355: ['Queens'],
 11356: ['Queens'],
 11357: ['Queens'],
 11358: ['Queens'],
 11359: ['Queens'],
 11360: ['Queens'],
 11361: ['Queens'],
 11362: ['Queens'],
 11363: ['Queens'],
 11364: ['Queens'],
 11365: ['Queens'],
 11366: ['Queens'],
 11367: ['Queens'],
 11368: ['Queens'],
 11369: ['Queens'],
 11370: ['Queens'],
 11371: ['Queens'],
 11372: ['Queens'],
 11373: ['Queens'],
 11374: ['Queens'],
 11375: ['Queens'],
 11377: ['Queens'],
 11378: ['Queens'],
 11379: ['Queens'],
 11385: ['Queens'],
 11411: ['Queens'],
 11412: ['Queens'],
 11413: ['Queens'],
 11414: ['Queens'],
 11415: ['Queens'],
 11416: ['Queens'],
 11417: ['Queens'],
 11418: ['Queens'],
 11419: ['Queens'],
 11420: ['Queens'],
 11421: ['Queens'],
 11422: ['Queens'],
 11423: ['Queens'],
 11426: ['Queens'],
 11427: ['Queens'],
 11428: ['Queens'],
 11429: ['Queens'],
 11430: ['Queens'],
 11432: ['Queens'],
 11433: ['Queens'],
 11434: ['Queens'],
 11435: ['Queens'],
 11436: ['Queens'],
 11691: ['Queens'],
 11692: ['Queens'],
 11693: ['Queens'],
 11694: ['Queens'],
 11697: ['Queens']}

In [13]:
realcleaned['borough'] = realcleaned['zipcode'].map(zipdict)
realcleaned.head()

,type,zipcode,city,state,metro,county,size_rank,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,borough
0,ZHVI,10025,New York,NY,New York,New York,1,1132500,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000,[Manhattan]
8,ZHVI,11226,New York,NY,New York,Kings,9,572800,583600,594800,605200,612100.0,612800,616900,628900,644200,653500,658700,[Brooklyn]
10,ZHVI,10016,New York,NY,New York,New York,11,917000,934800,946000,949200,950000.0,951800,960100,972200,986900,1021200,1061200,[Manhattan]
17,ZHVI,10128,New York,NY,New York,New York,18,1077000,1074900,1076400,1090300,1111300.0,1133100,1154700,1189800,1241000,1288200,1318300,[Manhattan]
23,ZHVI,10462,New York,NY,New York,Bronx,24,118200,120600,121600,121500,121000.0,121100,123200,126200,128700,131900,135400,[Bronx]

In [14]:
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.point import Point
import geopy

def get_zip_code(x):
    geolocator = geopy.Nominatim(user_agent="check_1")
    location = geolocator.reverse("{}, {}".format(x['latitude'],x['longitude']))
    return location.raw['address']['postcode']
venu = venuescl.sort_values(by=['rating'], ascending=False)
venu = venu.head(50)
venu['ZIPCODE'] = venu.apply(lambda x: get_zip_code(x), axis = 1)
venu

,city,id,latitude,longitude,name,rating,types,ZIPCODE
48476,new york city,5161e3e3db931a8574e44c063f4ed8647375e8a9,40.669737,-73.842051,Boulevard Discount,5.0,"['home_goods_store', 'store', 'point_of_intere...",11417
59758,new york city,0bce4e42ae30780b6da1c24edf56a2070a041e7e,40.746251,-73.913639,Discount Variety & Grocery.,5.0,"['grocery_or_supermarket', 'food', 'store', 'p...",11377
59855,new york city,b113763e103d2d45836b1f6c92b8a4d1d39867fb,40.767347,-73.911814,"TANJAWI, Hallal Food Emporium Inc",5.0,"['food', 'store', 'point_of_interest', 'establ...",11103
59847,new york city,5a005af8307213bfcf140bbe3536770010c20679,40.766207,-73.913381,Watany Food Market,5.0,"['grocery_or_supermarket', 'food', 'store', 'p...",11103
59840,new york city,ce4779dd89bb0912874f1f8e7795adb94bc54474,40.766203,-73.913372,Steinway Pharmacy,5.0,"['pharmacy', 'health', 'store', 'point_of_inte...",11103
59833,new york city,880649fd667fe93cd574597baafc346eeff51f1f,40.765861,-73.913584,Astoria Family Pharmacy,5.0,"['pharmacy', 'health', 'store', 'point_of_inte...",11103
59831,new york city,ad3e713d3707210c8face5f5438c4ac8162ab5d9,40.765253,-73.913657,NXT Sports Nutrition,5.0,"['health', 'store', 'point_of_interest', 'esta...",11103
59823,new york city,fcab3ff847930d63a870199391a9f0a01c5231c1,40.762899,-73.912928,D K M JEWELRY INC,5.0,"['jewelry_store', 'store', 'point_of_interest'...",11103
59814,new york city,53f3280c13005be2e93ab9d17eaf650a26a1c6c0,40.761752,-73.913251,Hip Hop Enterprises Inc,5.0,"['store', 'point_of_interest', 'establishment']",11103
59802,new york city,a6d7d463a5be06f1c3f380d9059cd9449ef2d735,40.762082,-73.910753,Avenue Chemists Pharmacy,5.0,"['pharmacy', 'health', 'food', 'store', 'point...",11103
59801,new york city,49778922295499564376067c6c1b1ecd3abf6f1f,40.762072,-73.911451,Sorriso,5.0,"['food', 'store', 'point_of_interest', 'establ...",11103
59776,new york city,4532daa6d2a4a8e7d0d27badbe28cd525e86e736,40.752329,-73.912083,Garden Center at The Home Depot,5.0,"['food', 'furniture_store', 'home_goods_store'...",11101
59767,new york city,b5e045fff05d3e3f75df6396ea19fc0d3d807160,40.750076,-73.910896,Paratransit Auto Parts,5.0,"['car_repair', 'store', 'point_of_interest', '...",11104
59760,new york city,9db9d9c868e9ea88099010448104ed845647ce48,40.750054,-73.911436,Capitol Glass & Sash Co Inc,5.0,"['store', 'point_of_interest', 'establishment']",11104
59759,new york city,eb5dec0a2c0c79d91c5cbaa1581f87dcdff16240,40.746241,-73.913650,Discount Variety & Grocery. ( AATMA ENTERPRISE...,5.0,"['grocery_or_supermarket', 'book_store', 'food...",11377
59748,new york city,cd190ce8843e931c1d1878eb6ecfa9c9053498ef,40.744752,-73.910873,Raju Restaurant Equipment & Supplies,5.0,"['store', 'point_of_interest', 'establishment']",11377
59861,new york city,20f8c78313394413fad17b47cec219cfa5a54d38,40.768934,-73.912868,Uncurtain Shower Doors,5.0,"['store', 'point_of_interest', 'establishment']",11103
59747,new york city,8b00a467541c84ddf76010839c352ff2e943e137,40.744726,-73.911067,MIND & BODY Pharmacy,5.0,"['pharmacy', 'health', 'store', 'point_of_inte...",11377
59744,new york city,cbdaae3e755b8d84a892bfba1b0b19f4280a6565,40.744474,-73.911798,M J Deli Grocery,5.0,"['grocery_or_supermarket', 'food', 'store', 'p...",11377
59734,new york city,dbb0e26954529758765234c943642d5500273548,40.727859,-73.913400,"K & L Paper Supply, Inc.",5.0,"['grocery_or_supermarket', 'food', 'store', 'p...",11378
59733,new york city,a9ef7aa0360bd311ed446e54e9971296a11f246a,40.727859,-73.913400,Rainbow Bag Co,5.0,"['store', 'point_of_interest', 'establishment']",11378
59727,new york city,fb6d4a9bc4a7da88b95f7dea115e2782038ae377,40.724362,-73.912770,Five Star Label,5.0,"['store', 'point_of_interest', 'establishment']",11378
59720,new york city,381cc27451a896193fccd9e7e247aceaf722abec,40.722724,-73.912649,Delicias Andinas Inc,5.0,"['bakery', 'food', 'store', 'point_of_interest...",11378
59719,new york city,9090b459bc1f7944249e96dc6c78d91af26e02b0,40.723926,-73.911267,Quality Installations of New York,5.0,"['storage', 'furniture_store', 'home_goods_sto...",11378
59717,new york city,62cbd72e249e8245fa77e61b15a39189138d392b,40.721240,-73.912564,M & A Linens,5.0,"['home_goods_store', 'store', 'point_of_intere...",11378
59712,new york city,ed746de69dcdebd3b6b6e995a8b5fd4687894728,40.720612,-73.910622,Capas Headwear Inc,5.0,"['clothing_store', 'store', 'point_of_interest...",11378
59705,new york city,64ab4287b7e9af30a34c743ecddbf066d227495e,40.718526,-73.913432,Long Island Pipe Supply,5.0,"['store', 'point_of_interest', 'establishment']",11378
59698,new york city,f81c870b5b5b538b724e7ef9eb734cd58d69a4fb,40.717822,-73.911844,On Time Development,5.0,"['car_repair', 'store', 'point_of_interest', '...",11378
59693,new york city,63daf00f6282357a77b481d464fa1d8871f34276,40.714802,-73.913587,DMF Electronics Co.,5.0,"['store', 'point_of_interest', 'establishment']",11378
59686,new york city,4b2b971b3549abe481de8fcbb4c802d78a00a2ff,40.716783,-73.912864,AM PM Supply Corporation,5.0,"['plumber', 'store', 'point_of_interest', 'est...",11378
59859,new york city,fdca7aaa1cd3d422b705765d03731d490270033e,40.768851,-73.911826,Modesto Cotrina - Floral Designer,5.0,"['florist', 'store', 'point_of_interest', 'est...",11103
59862,new york city,aff97b4b41650cf159b5db8439137508596d12b5,40.768960,-73.912852,Uncurtain,5.0,"['painter', 'general_contractor', 'store', 'po...",11103
59675,new york city,ad1d5d5450e6358b06aa6519ffd4da1a666d0d8a,40.708565,-73.911502,Zian Farm,5.0,"['food', 'store', 'point_of_interest', 'establ...",11385
59955,new york city,5a3d7b13c75132cf23d2bda83637dfd4843fbdd8,40.781829,-73.913479,Fatima Food Mart,5.0,"['grocery_or_supermarket', 'food', 'store', 'p...",11105
59997,new york city,23787c637861f4f2a7d86bcf15d681e4bba91140,40.815968,-73.910782,Cauldwell Pharmacy,5.0,"['pharmacy', 'health', 'store', 'point_of_inte...",10455
59988,new york city,b6149ea8452354dc7d976d1c60ce0693a5f43564,40.805120,-73.913070,Grand Stop Grocery,5.0,"['grocery_or_supermarket', 'convenience_store'...",10454
59986,new york city,7ca9e09447d507c644849510a260db5bfdebf831,40.804852,-73.913206,Famous Deli,5.0,"['grocery_or_supermarket', 'food', 'store', 'p...",10454
13112,new york city,029ee35963d91418e8bbace248f36117d54e14c1,40.777607,-73.978364,TAP NYC,5.0,"['restaurant', 'food', 'point_of_interest', 'e...",10025
59981,new york city,a79ebf221a6e39ce27989799de02aadad8d6121a,40.803924,-73.912173,Charles H Beckley Inc,5.0,"['furniture_store', 'home_goods_store', 'store...",10454
59973,new york city,8df2b54fc83f10315d4d9b291b7baea619701ba5,40.801788,-73.913808,Empire Safe Co.,5.0,"['moving_company', 'store', 'point_of_interest...",10454
59971,new york city,60c240366068b4c520a7a8f58f11f59323b3062a,40.802002,-73.913658,Savant Metals LLC,5.0,"['general_contractor', 'store', 'point_of_inte...",10454
59970,new york city,f33c27b5645b30afe575b277d538109b42d862bf,40.801991,-73.913304,PLATINUM WIRELESS ACCESSORIES,5.0,"['electronics_store', 'store', 'point_of_inter...",10454
59968,new york city,bee3bafa87c05fa6e10d524072cb28f6468f3116,40.802765,-73.912968,GBC UPHOLSTERY,5.0,"['furniture_store', 'home_goods_store', 'store...",10454
59967,new york city,e96e013d07d869c22e3aa2e78d3a3a556e2b1f46,40.802789,-73.912387,Hands On Heating Supplies Inc.,5.0,"['store', 'point_of_interest', 'establishment']",10454
59963,new york city,43fdfeed96a76cd05ac16302bf7560248838ec76,40.802765,-73.912968,US Clothing Company,5.0,"['clothing_store', 'store', 'point_of_interest...",10454
59962,new york city,79eec111473face6ceedced0cc517b1c9a3311d3,40.803183,-73.912559,Globus Cork,5.0,"['home_goods_store', 'store', 'point_of_intere...",10454
59956,new york city,009b0f4b8c7b78ba9dbfa86815feadcd7505d038,40.798784,-73.910887,Exterminator Westchester Inc,5.0,"['home_goods_store', 'store', 'point_of_intere...",10454
59937,new york city,ce5a65e72a15cd5f1b2d00fc6b9f3d7535c0a003,40.774947,-73.913207,Fresh Start,5.0,"['store', 'point_of_interest', 'establishment']",11105
59863,new york city,426bcc4f6e4693798675c9609cbf9b0ddd9ad685,40.768960,-73.912852,Optimistic Crafts,5.0,"['store', 'point_of_interest', 'establishment']",11103
59935,new york city,911daf4a9711a89147d78f67a8c4b4eb6685c287,40.775760,-73.910785,Gem Pawnbrokers,5.0,"['finance', 'store', 'point_of_interest', 'est...",11105

### Exercise 2: (5 min)

Conduct an exploratory analysis of the sizes of reviews: find the shortest and longest reviews, then plot a histogram showing the distribution of review lengths.

**Answer.** One possible solution is shown below:

## Text visualization with word clouds (15 min)

Just like visualization is crucial for standard CSV data, it is also important for text data. But text doesn't lend itself to histograms or scatterplots the way that numerical or even categorical data do. In such cases, **word clouds** are a common and <font color="orange">sometimes</font> useful tool.

**Note:** While wordclouds can be a useful way of quickly gaining high level insights into raw textual data, they are also limited. In some ways, they can be seen as the pie charts of NLP: often used, but also often hated. [Some](https://www.niemanlab.org/2011/10/word-clouds-considered-harmful/) [people](https://towardsdatascience.com/can-we-please-stop-using-word-clouds-eca2bbda7b9d) would prefer if they didn't exist at all. If used in the correct way, however, they definitely deserve their place in a data scientist's toolbelt.

The main problem with word clouds is that they are difficult to interpret in a standard way. The layout algorithm has some randomness involved and although more common words are shown more prominently, it's not possible to look at a word cloud and know which words are the most important, or how much more important these are than other words. Colours and rotation are also used randomly, making some words (e.g the ones in bright colours, positioned closer to the centre, with horizontal rotation) seem more important when in fact they are no more important than other words which were randomly assigned a less noticeable combination of color, rotation, and position.

### Exercise 3: (7 min)

Write a function `word_cloud_rating(data, star_value)` that constructs a word cloud from the subset of `data` that exhibit a certain `star_value`. Visualize the results of this function for 1-star reviews.

**Answer.** One possible solution is given below:

In [15]:
## Setting the resolution for better clarity 
from pylab import rcParams
rcParams['figure.figsize'] = 30, 60

def word_cloud_rating(data,star_value):
    
    data_filtered = data[data.stars == star_value] #filtering according to the star value
    Reviews = data_filtered.text

    Reviews_text = ' '.join(Reviews.values) #joining all the words together

    # Creating a word cloud object
    wordcloud = WordCloud(max_font_size=100, max_words=100, background_color="white",\
                          scale = 10,width=800, height=400).generate(Reviews_text)


    # Plotting the generated word cloud
    plt.figure()
    plt.imshow(wordcloud, interpolation="bilinear")
    plt.axis("off")
    plt.show()

In [16]:
word_cloud_rating(data, 1)

NameError: name 'data' is not defined

### Exercise 4: (5 min)

The word "good" seems to appear quite frequently in the negative reviews. Investigate why that is and come up with a reasonable explanation.

 **Answer.** Let's look at the first 5 reviews or so with 1-star ratings to see if there are any discernible patterns:

In [ ]:
reviews_containing_good = [each for each in data[data.stars == 1].text if 'good' in each]
for review in reviews_containing_good[:20]:
    good_index = review.find("good")
    print(review[good_index-20:good_index+20].replace("\n", ""))

Reading each of the reviews, it is clear that "good" is often mentioned in a context like "no good place to sit" or "sound good". This indicates that in the world of text we cannot go by single words (also called **1-grams**) alone. The context of the sentence or the surrounding words at least are very much necessary to understand the sentiment of a sentence.

## n-grams (25 min)

Since 1-grams are insufficient to understand the significance of certain words in our text, it is natural to consider blocks of words, or **n-grams**.

The simplest version of the n-gram model, for $n > 1$, is the **bigram** model, which looks at pairs of consecutive words. For example, the sentence "The quick brown fox jumps over the lazy dog" would have tokens "the quick", "quick brown",..., "lazy dog". The following image explains this concept:

<img src="ngrams.png" alt="ngrams" width="500"/>

This has obvious advantages and disadvantages over looking at words individually:

1. This retains the structure of the overall document, and
2. It paves the way for analyzing words in contex; however,
3. The dimension is vastly larger

In practice, this last challenge can be truly daunting. As an example, *War and Peace* has 3 million characters, which translates to several hundred thousand 1-grams (words). If you consider that the set of all possible bigrams can be as large as the square of the number of 1-grams, this gets us to a hundred billion possible bigrams! If classical ML techniques are not suitable for training on 3 million characters, how can they possibly deal with a hundred billion dimensions?

For this reason, it is often prudent to start by extracting as much value out of 1-grams as possible, before working our way up to more complex structures.

In this section we also start to look again at our main application: calculating some "interesting" features of our corpus of reviews.

When thinking about word analysis, the main topic of interest is finding an *efficient* and *low-dimensional* representation in order to facilitate document visualization and larger-scale analyses. We discuss two broad categories of word representations:

1. `Count-based representations`: word-word and word-document matrices.
2. `Word embeddings`: spectral embedding, UMAP, word2vec, GloVe, and many many more.

These are often used to assist with downstream tasks such as clustering, ranking and labeling, which will be briefly discussed in a future case. Word embeddings in particular have become something of a posterchild. These, combined with neural networks (which will also be discussed in a future case!), have led to many of the recent headline improvements in NLP tasks.

### Count-based representations (20 min)

n-grams fall under a broader category of techniques otherwise known as [**count-based representations**](https://scikit-learn.org/stable/modules/feature_extraction.html#common-vectorizer-usage). These are techniques to analyze documents by indicating how frequently certain types of structures occur throughout.

Let's start with 1-grams (words). The simplest type of information would be whether a particular word occurs in particular documents. This leads to **word-document co-occurrence matrices**, where the $(W, X)$ entry of the word-document matrix is set to 1 if word $W$ occurs in document $X$, and 0 otherwise.

There are many variants of this. In lieu of the fact that we are looking for count-based representations of our documents, one natural variable is the following: the $(W, X)$ entry of the word-document matrix equals the number of times that word $W$ occurs in document $X$, rather than merely being a binary variable.

Let's create a word-document co-occurrence matrix for our set of reviews:

In [ ]:
# The following code creates a word-document matrix.
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
X = vec.fit_transform(AllReviews)
df = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
df.head()

### Exercise 5: (5 min)

Find all the high-frequency (top 1%) and low-frequency (bottom 1%) words in the reviews overall. (Hint: import the `Counter()` function from the `collections` class.)

**Answer.** One possible solution is shown below:

In [ ]:
from collections import Counter

all_reviews_text = ' '.join(AllReviews)
tokenized_words = nltk.word_tokenize(all_reviews_text)
word_freq = Counter(tokenized_words)

len(word_freq)

In [ ]:
## Therefore, top 1% is ~463 words
word_freq.most_common(463)

In [ ]:
## Similarly, bottom 1% is ~463 words
word_freq.most_common()[-463:-1]

Let's do the same for bigrams. Here is the code to get the set of bigrams for the first 5 reviews:

In [ ]:
from nltk.util import ngrams

first_5_revs = data.text[0:5]
word_tokens = nltk.word_tokenize(''.join(first_5_revs))
list(ngrams(word_tokens, 2)) #ngrams(word_tokens,n) gives the n-grams.

### Exercise 6: (12 min)

Write a function called `top_k_ngrams(word_tokens, n, k)` for printing out the top $k$ n-grams. Use this function to get the top 10 1-grams, 2-grams, and 3-grams from the first 1000 reviews in our dataset.

**Answer.** One possible solution is shown below:

In [ ]:
from nltk.util import ngrams

def top_k_ngrams(word_tokens,n,k):
    
    ## Getting them as n-grams
    n_gram_list = list(ngrams(word_tokens, n))

    ### Getting each n-gram as a separate string
    n_gram_strings = [' '.join(each) for each in n_gram_list]
    
    n_gram_counter = Counter(n_gram_strings)
    most_common_k = n_gram_counter.most_common(k)
    print(most_common_k)
    
   # x_pos = [k for k,v in most_common_k]
   # y_pos = [v for k,v in most_common_k]
    
   # plt.bar(x_pos, y_pos,align='center')

In [ ]:
### Getting a single string
top_1000_reviews = data.text[0:1000]
all_reviews_text = ' '.join(top_1000_reviews)

## Splitting them into tokens
word_tokens = nltk.word_tokenize(all_reviews_text)

## Calling the function for top k
top_k_ngrams(word_tokens, 1, 10)

In [ ]:
top_k_ngrams(word_tokens, 2, 10)

In [ ]:
top_k_ngrams(word_tokens, 3, 10)

## Stop words (20 min)

You may have noticed a pattern in the types of words that show up in the top 10 1-grams, 2-grams, and 3-grams. In particular, these are common words that appear in every sentence of the English language: pronoums like "I", prepositions like "but", "of", "and", articles like "the", etc. These very common words are usually uninformative, and their very large occurrence values can distort the results of many NLP algorithms.

For this reason, it is common to pre-process text by removing words that you have a reason to believe are uninformative; these words are called [**stop words**](https://en.wikipedia.org/wiki/Stop_words). Usually, it suffices to simply treat extremely common words as stop words. However, for specific types of applications it might make sense to use other stop words; e.g. the word "burger" when analyzing reviews of burger chains.

(Note that stop words are often removed by default as a cleaning step in all NLP tasks. However, sometimes they can be useful. For example in authorship attribution (automatically detecting who wrote a specific piece of text by their 'writing style'), stop words can be one of the most useful features, as they appear in nearly all texts, and yet each author uses them in slightly different ways.)

The `nltk` library has a standard list of stopwords, which you can download by writing `nltk.download(“stopwords”)`. We can then load the stopwords package from the nltk.corpus and use it to load the stop words:

In [ ]:
print(stopwords.words("japanese"))

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords
print(stopwords.words("english"))

You can get a list of all the Spanish stop words as well:

In [ ]:
print(stopwords.words("spanish"))

### Exercise 7: (15 min)

#### 7.1

Filter out all of the stop words in the first review of the Yelp review data and print out your answer. Additionally, print out (separately) the stopwords you found in this review.

**Answer.** One possible solution is given below:

In [ ]:
stop_words = set(stopwords.words("english"))
without_stop_words = []
stopword = []
sentence = data.text[0]
words = nltk.word_tokenize(sentence)
for word in words:
    if word in stop_words:
        stopword.append(word)
    else:
        without_stop_words.append(word)

print(stopword)
print()
print(without_stop_words)

#### 7.2

Modify the function `top_k_ngrams(word_tokens, n, k)` to remove stop words before determining the top n-grams.

**Answer.** Our recommended solution is shown below:

In [ ]:
# Removing the most basic stop words from the ntlk corpus and including only those
# words with character size above 2 so as to remove punctuations
# But, this could be extended to remove further high and low frequency stop words

from nltk.corpus import stopwords
import string
eng_stopwords = stopwords.words('english')

### Getting a single string
all_reviews_text = ' '.join(top_1000_reviews)

## Splitting them into tokens
word_tokens = nltk.word_tokenize(all_reviews_text)

## Removing the stopwords
word_tokens_clean = [each for each in word_tokens if each.lower() not in eng_stopwords and len(each.lower()) > 2]

## Calling the function for top k
top_k_ngrams(word_tokens_clean, 3, 10)

In [ ]:
top_k_ngrams(word_tokens_clean, 2, 10)

In some contexts, it is common to remove both very common and very *uncommon* words. The idea is that common words like "a" are almost never informative, while uncommon words like "syzygy" occur so infrequently in a corpus that many algorithms have a hard time processing them in a meaningful way. We will not deal with uncommon words today, but you should be aware that doing so improves the performance of several NLP techniques.

## Finding important words (30 min)

Up to this point, we have focused on techniques for transforming our data. We are now ready to start looking for some answers, so let's take a break from discussing techniques so we can explore our dataset and various ways to summarize it.

We begin by looking at the words and n-grams that are most common in positive and negative reviews. Note that in the following code, we don't reuse many of the pre-processing steps discussed at the start of the tutorial. This is because many of them are included as options in existing packages. In a serious project one would often customize this pre-processing to some degree, but we skip this in order to get some displayable results.

In [ ]:
# Following code grabbed from:
# https://towardsdatascience.com/a-complete-exploratory-data-analysis-and-visualization-for-text-data-29fb1b96fb6a
# we will use it in our context to create some visualizations.
def get_top_n_words(corpus, n=1,k=1):
    vec = CountVectorizer(ngram_range=(k,k),stop_words = 'english').fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]

In [ ]:
# We start by getting a list of the most common words.

common_words = get_top_n_words(data['text'], 20,1)
for word, freq in common_words:
    print(word, freq)
df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar',  title='Top 20 words from all reviews')

### Exercise 8: (15 min)

#### 8.1

Divide the data into "good reviews" (i.e. `stars` rating was greater than 3) and "bad reviews" (i.e. `stars` rating was less than 3) and make a bar plot of the top 20 words in each case. Are these results different from above?

**Answer.** One possible solution is shown here:

In [ ]:
data.head()

In [ ]:
# We continue by splitting according to good/bad review scores, then grabbing again.

GoodInd = data['stars'] >3.1
GoodRev = data[GoodInd]
BadInd = data['stars'] <2.1
BadRev = data[BadInd]

common_words = get_top_n_words(GoodRev['text'], 20)
for word, freq in common_words:
    print(word, freq)
df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 words from good reviews')

In [ ]:
common_words = get_top_n_words(BadRev['text'], 20)
for word, freq in common_words:
    print(word, freq)
df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 words from bad reviews')

Well, that was pretty useless. The "good" words are mostly a mix of generic words like "place" and overtly positive words like "good" itself.

The problem here is that we are dealing with single words, which cannot convey much information out of context. The natural solution then is to deal with n-grams, so that we can get context-aware results like "good burger" or "good service" (in the positive reviews) or, as we saw, "good 45 minutes" (in the negative reviews).

#### 8.2

Use the `get_top_n_words()` function to find the top 20 bigrams and trigrams. Do the results seem useful?

**Answer.** One possible solution is shown here:

In [ ]:
# Get top bigrams and trigrams from bad reviews
common_words = get_top_n_words(BadRev['text'], 20,2)

for word, freq in common_words:
    print(word, freq)

df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 bigrams from bad reviews')

In [ ]:
# Get top bigrams and trigrams from bad reviews
common_words = get_top_n_words(GoodRev['text'], 20,2)

for word, freq in common_words:
    print(word, freq)

df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 bigrams from bad reviews')

In [ ]:
common_words = get_top_n_words(BadRev['text'], 20,3)
for word, freq in common_words:
    print(word, freq)
df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 trigrams from bad reviews')

In [ ]:
common_words = get_top_n_words(GoodRev['text'], 20,3)
for word, freq in common_words:
    print(word, freq)
df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 bigrams from good reviews')

In [ ]:
common_words = get_top_n_words(GoodRev['text'], 20,3)
for word, freq in common_words:
    print(word, freq)
df = pd.DataFrame(common_words, columns = ['ReviewText' , 'count'])
df.groupby('ReviewText').sum()['count'].sort_values(ascending=False).plot(
    kind='bar', title='Top 20 trigrams from good reviews')

Although there are some nonsense entries such as "http www yelp" this is starting to be helpful. We can see a few recurring themes among good reviews (e.g. "staff friendly helpful"). Nonsense entries are typically difficult to eliminate completely in NLP with user-generated text and smaller corpora. NLP is still useful *despite* the existence of nonsense results, and we should think of the output of NLP algorithms like this as a *screening tool* for finding important phrases rather than a *careful estimate* of the most important phrases. In other words, it's an application of machine intelligence to *conduct exploratory analysis* rather than to *build predictive models*.

### Question:

Look at the 5 most important bigrams for bad reviews. What *single, specific* problem seems to be the most important driver of bad reviews?

Three of the top 5 bigrams were "20 minutes", "15 minutes", and "10 minutes." These are all times, *strongly* suggesting that *waiting time for service* is a main driver for bad review scores.

### Exercise 9: (10 min)

#### 9.1

You may have noticed that many of the important "bad" bigrams included the words "like" or "just" but didn't seem very informative (e.g. "felt like", "food just"). Give some ideas of how to use this sort of observation in future pre-processing of reviews, based on the pre-processing ideas we have already studied.

**Answer.** Two potential answers are (there are many others):

1. Having recognized that these words go together in common bigrams, you could modify your algorithm so that it "clumps" these bigrams together; i.e. treats them as one word, so that your algorithm will focus on the words following that.
2. Having recognized this as a key phrase, we could have a list of the most important words that follow these key phrases (which are presumably informative). This is more time-consuming as it requires human input.

#### 9.2

Building on the previous question, we note that most of the most important complaints and compliments can't be *completely* observed by looking at bigrams or trigrams. This can often be fixed by small modifications. Do the following:

1. Write down a complaint that is unlikely to be (completely) picked up by bigram analysis. Hint: what might you write if your hamburger was served cold?
2. Write down a processing step that would fix this problem. Try to find a solution that would work for several similar problems without additional human input.

**Answer.** There are many good answers, but we focus on a simple one:

1. I would probably write "the burger was cold" or "the burger was served cold." If this were a common complaint, the most-important bigrams might include "was cold" or "served cold," which doesn't tell me *what* was served cold.
2. A simple fix, along the lines of the previous question, would be to "clump" words like "was cold" together. However, I think this is a bad fix, as it focuses too much on the word "cold" and would require a great deal of hand tuning. A better idea would be to recognize that words like "was" are always going to be a problem in this context, as they separate the important noun describing the subject ("burger") from the adjective describing the problem ("cold"). This suggests that we should take a *much* more aggressive stance towards removing stop words. This should certainly include conjugations of "to be," and likely many other common but uninformative words (like "too").

This second response is an important takeaway for NLP – this sort of problem is extremely common, and a great deal of time is often spent tweaking initial pre-processing rules. In the final part of this case, you will learn about a method that can help systematically deal with these uninformative stop words.

## Regular Expressions (25 min)

Having spent a lot of time on n-grams and how to featurize a document using them, we now take a break from `nltk` tools to introduce the most important text wrangling tool in Python (and many other languages): [**regular expressions**](https://en.wikipedia.org/wiki/Regular_expression).

The basic idea here is that you often want to perform some specific transformation (e.g. delete or substitute) every time that some possibly-complicated pattern (e.g. the letter 'A', the word 'hello', any word containing the letters 'a','r' in that order) occurs. Regular expressions are a compact and powerful language for expressing these sorts of patterns. This is super important whenever you are trying to clean a text dataset that contains thematically similar, but not exactly, the same errors. 

The terse syntax of regular expressions has led to them having a reputation for being [almost magical](https://xkcd.com/208/) in some situations (with only a few characters, you can build complete computer programs) but also for being difficult to create and read, which can [create more problems](https://xkcd.com/1171/) than they solve.

In Python, [the `re` module](https://docs.python.org/3/library/re.html) provides regular expression matching operations and common operations. Regular expressions are a deep subject, with some documentation here: https://docs.python.org/3/library/re.html?highlight=regex.

As some simple examples, we have:

1. `.` matches any character except \n (newline)
2. `\d` matches any digit (this can also be written as [0-9])
3. `\D` matches any non-digit (this can also be written as [^0-9])
4. `\w` matches any alphanumeric character ([a-zA-Z0-9_])
5. `\W` matches any non-alphanumeric character ([^a-zA-Z0-9_])

As some more complex examples, regular expressions also allow you to quantify the number of times matches can occur. For example,

1. `[a-d]+` matches any time you get $\{a,b,c,d\}$ one or more times in a row
2. `[a-d]{3}` matches any time you get them exactly 3 times in a row
3. `[a-d]*` matches any time you get them 0 or more times in a row

For now, we give a simple application based on the  `re.sub()` function, which substitutes words that match a pattern:

In [ ]:
import re
sentence = 'That was an "interesting" way to cook bread.'
pattern = r"[^\w]" # the ^ character denotes 'not', 
#                   the \w character denotes a word, and []  means
#                    anything that matches anything in the brackets. 
#                     Together, this refers to any character that is not a word.
print(re.sub(pattern, " ", sentence))

In [ ]:
str = "Natesh loves all the foold and loveds sdaslo"
x   = re.compile('lo')
iterator = x.finditer(str)
for item in iterator:
    print(item.span())
    print(item.group())

### Exercise 10: (15 min)

#### 10.1

1. Use the `re.split()` function to split the first Yelp review into a list of its constituent words.
2. Use the `re.findall()` function to search the first 30 reviews for the number of times they contain the word "food". Print the maximum number of times the word "food" is mentioned in a single review.

**Answer.** One possible solution is shown below:

In [ ]:
re.split(r'\s', AllReviews.values[0])

In [ ]:
food_count = []
for sentence in AllReviews.values:
    temp = len(re.findall('food', sentence))
    food_count.append(temp)
print(max(food_count[0:30]))

#### 10.2

Using regular expressions, find the percentage of reviews in top 500 reviews that have numbers in them.

**Answer.** One possible solution is given below:

In [ ]:
### Considering the top 500 reviews for this analysis
top_500_reviews = AllReviews.values[:500]
reviews_nos_regex = []

for each_review in top_500_reviews:
    number_list = re.findall('\d',each_review)
    
    ## number list returns all the possible digits in a review
    ## Look if the number list is empty - if so, the review has no digits in them
    if(len(number_list)) > 0:
        reviews_nos_regex.append(each_review)

In [ ]:
len(reviews_nos_regex)/len(top_500_reviews)

As is clear from above, regular expressions are very useful for extracting more general properties of text. These properties are not as informative or context-aware as n-grams can be, but they are much simpler to code and therefore can often serve as the first step of an EDA on text data.

Although regular expressions usually cannot tell us much about context overall, they *can* be used to find specific instances of words in context. For example, we may be interested in finding the first word following "good" or "bad" in a review (which can help us distinguish a positive from a negative review). Let's write some code that finds the first word following "good" in the sentence "hello I want a good burger, please.":

In [ ]:
sample = "hello I want a good burger, please"

# Find everything after "good", including "good"

post = re.findall(r'good.*', sample)[0]

print(post)

# Take just the first word after "good"

first_post = re.split(r'\s',post)[1]

print(first_post)

#### 10.3

Using the above as a template, write a generalized function that can extract the first word following "good". Don't forget to include a default behavior for when the word doesn't appear in the sentence. Run this function for all reviews and print the first 300 results for reviews that do contain the word "good".

**Answer.** One possible solution is given below:

In [ ]:
def next_word(sentence):
    post = re.findall(r'good.*', sentence)
    if (len(post) > 0):
        temp = re.split(r'\s',post[0])
        if (len(temp) > 1):
            return(temp[1])
        else:
            return('')
    else:
        return('')
    
    
print(next_word(sample))

In [ ]:
post_good = []
ind = 0
for sentence in AllReviews.values:
    temp = next_word(sentence)
    post_good.append(temp)
    
nonempty = [i for i in post_good if i] 
print(nonempty[0:300])

Skimming over the results of the previous exercise, a few things stood out:

1. People like to talk about good burgers – this appeared 5 times in the first 300 results.
2. A large number of the results are useless. One common problem is the occurrence of a sentence boundary; e.g. "good. The" near the start of the list. In this case, we should look *before* the word "good" rather than after. However, we can't look *immediately* before good – that word will usually be some conjugation of "to be", which is also not informative – rather, we need to look for a word before "good" that isn't too boring. Other times, there is a word following "good" that is uninformative; e.g. "good for" – we want to know *what* something was good for! In this case, we should keep on skimming *forward* until we see a word following "good" that isn't too boring.

In both of these cases, we can't use simple regular expressions by themselves, as regular expressions don't know how to ignore "boring" words. Regular expressions can only help us filter for the structure of words, not the content they convey within a context. We *can* use what we learned about stop words to remove these from the reviews before conducting the above analysis, but as we have been, we will still sometimes get not very informative phrases like "was cold" or "served cold". So we will introduce an alternative method, which can be applied to serve as an even better remover of stop words: **part-of-speech tagging**.

##  Part-of-speech (POS) tagging (45 min)

In English, there are eight main parts of speech - `nouns`, `pronouns`, `adjectives`, `verbs`, `adverbs`, `prepositions`, `conjunctions` and `interjections`. These are
`sustantivos`, `pronombres`, `adjetivos`, `verbos`, `adverbios`, `preposiciones`, `conjunciones` and `interjecciones`, respectively, in Spanish. The purpose of POS tagging is to label each word in a document with its part of speech.

Unsurprisingly, [POS tagging](http://www.nltk.org/book/ch05.html) can be very difficult to do by hand. `nltk` has a default function for this, called `nltk.pos_tag()`, which we will use. As a word of warning, this function is far from infallible, especially on informal text (e.g. website reviews, forum posts, text messages, etc), and words in English often exhibit POS drift (e.g. the drift of "Google" from noun to verb):

In [ ]:
import nltk
nltk.download('averaged_perceptron_tagger')
#https://www.nltk.org/book/ch05.html
text_word_token = nltk.word_tokenize("Jairo is having a good day")
#text_word_token = nltk.word_tokenize(data.text[0])
nltk.pos_tag(text_word_token)
#https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

In [ ]:
I prefer to buy burgers
prefer -> burger

In [ ]:
text_word_token = nltk.word_tokenize("We are going to Race") # try "Race can be both a verb and a noun"
#text_word_token = nltk.word_tokenize(data.text[0])
nltk.pos_tag(text_word_token)

In [ ]:
#https://www.nltk.org/_modules/nltk/tag/perceptron.html
nltk.pos_tag(words)

NLTK provides documentation for each tag, which can be queried using the tag itself; e.g. `nltk.help.upenn_tagset('RB')`. Since POS is context-sensitive, POS-taggers must usually be trained on an existing corpus that has been tagged by professional linguists (possibly alongside unlabeled data to take advantage of semi-supervised methods). The most popular tag set is called the Penn Treebank set:

In [ ]:
# We can get more details about any POS tag using the help function of nltk
nltk.download('tagsets')
nltk.help.upenn_tagset('CD$')
nltk.help.upenn_tagset('NN$')

### Exercise 11: (10 min)

#### 11.1

Write code to find the percentage of reviews in the first 500 reviews of the dataset that contains a number or a cardinal using POS taggings only. (Hint: POS tag `CD` is the indicator for cardinal or number.) How does this compare to the figure we extracted from using regular expressions only?

**Answer.** One possible solution is given below:

In [ ]:
cardinal_review = []

for sentence in top_500_reviews:
    words = nltk.word_tokenize(sentence)
    cd_len = [k for k,v in nltk.pos_tag(words) if 'CD' == v]
    
    if len(cd_len) > 0:
        cardinal_review.append(sentence)

#### Proportion of reviews with a number/cardinal in it        
len(cardinal_review)/len(top_500_reviews) 
## 56.6% of the reviews have a number/cardinal in the top 500 reviews. 
## You could improve the accuracy of this estimate by looking at more than 500 reviews.

This number is considerably higher than the one we got from using regular expressions only! The reason is because POS tagging can extract numbers in text form (e.g. "one", "two") whereas regular expressions cannot. This is one advantage of using POS tagging over regular expressions.

#### 11.2

Extract all of the nouns from each review using POS tagging. This may be useful for later analysis. Even though words like "good" may be the most prevalent in good reviews, we think nouns like "service" or "burgers" are likely to be more informative.

**Answer.** One possible solution is given below:

In [ ]:
noun_reviews = []
for sentence in AllReviews.values:
    words = nltk.word_tokenize(sentence)
    noun_pt = [k for k,v in nltk.pos_tag(words) if 'NN' == v]
    noun_reviews.append(noun_pt)

### Exercise 12: (15 min)

Use POS tagging to find the first word following "good" that has an interesting POS tag. We leave this up to your discretion, but should probably include nouns and proper nouns. Inspecting the above, we think that cardinals are also almost certainly interesting: we recognize that "good 45" is probably followed by "minutes", definitely an important (though not "good") part of a review!

**Answer.** One possible solution is shown below:

In [ ]:
# First, a function that extracts only the "interesting" parts of speech

sentence = "This is a good burger, but I prefer pizza"
words = nltk.word_tokenize(sentence)
interesting = [k for k,v in nltk.pos_tag(words) if v in ['CD','FW','NN','NNS','NNP','NNPS']]

print(interesting)

In [ ]:
good_pos = ['CD','FW','NN','NNS','NNP','NNPS']

def ExtractInteresting(sentence, good):
    words = nltk.word_tokenize(sentence)
    interesting = [k for k,v in nltk.pos_tag(words) if v in good]
    return(interesting)

In [ ]:
# Next, a function that extracts the first "interesting" word that follows "good"

sentence = "This is a good burger, but I prefer pizza"
post = re.findall(r'good.*', sentence)
print(post)
# Check that post isn't empty here before doing next line
temp = ExtractInteresting(post[0],good_pos)
print(temp)
# Check that temp isn't empty here before doing next line
print(post[0])

In [ ]:
def next_word2(sentence):
    post = re.findall(r'good.*', sentence)
    if (len(post) > 0):
        temp = ExtractInteresting(post[0],good_pos)
        if (len(temp) > 0):
            return(temp[0])
        else:
            return('')
    else:
        return('')
    
    
print(next_word2(sentence))

In [ ]:
# Finally, apply this.

post_good = []
ind = 0
for sentence in AllReviews.values:
    temp = next_word2(sentence)
    post_good.append(temp)
    
nonempty = [i for i in post_good if i] 
print(nonempty[0:300])

This seems like a much more interesting list!

### Exercise 13: (10 min)

It is interesting to look specifically at Adjectives (which have a tag name of "JJ" in NLTK) when looking at reviews. We can hypothesise that good reviews and bad reviews might use very different adjectives, but that some adjectives might appear often in both good and bad reviews, as we saw with the word "good" previously.

Use POS tags to extract all adjectives from the first 500 five star reviews and the first 500 one star reviews. Extract the most 30 most commonly used adjectives from each set of reviews and print out both. Make a note of several of these; say if they appear in one or both lists, and whether or not this was expected, and why.

**Answer.** One possible solution shown below:

In [ ]:
one_star_reviews = data[data['stars']==1]['text'][:500]
five_star_reviews = data[data['stars']==5]['text'][:500]


def extract_specific_pos(reviews, pos_tag):
    results = [] 
    for review in reviews:
        words = nltk.word_tokenize(review)
        tagged = nltk.pos_tag(words)
        keep = [x[0] for x in tagged if x[1] == pos_tag]
        results += keep
    return results


negative_adjectives = extract_specific_pos(one_star_reviews, "JJ")
positive_adjectives = extract_specific_pos(five_star_reviews, "JJ")

print(Counter(negative_adjectives).most_common(30))
print(Counter(positive_adjectives).most_common(30))

As we saw before, the word "good" appears in both lists, though slightly more often in good reviews. Surprisingly, it is the most common adjective used in *bad* reviews.

Words like "disappointed", "awful", "horrible", and "rude" only appear frequently in bad reviews, as expected, while words like "favorite", "great", "fantastic", "amazing", "wonderful", and "perfect" appear in good reviews, which is also expected.

Words like "small" and "new" appear frequently in in both sets of reviews. Interestingly, so does "different", but slightly more often in good reviews, perhaps indicating that people like variety.

## Conclusions (5 min)

In this case, we focused on the basic components of an NLP pipeline, virtually all of which are frequently used *before* building a model for the business question of interest. We saw that every part of the pipeline was highly customizable, and discussed how parameters might vary depending on the specific application in mind. 

In addition to constructing a basic pipeline, we tried to give initial answers to a business question: "Which factors are most important for bad reviews?" The answers we obtained with this out-of-the-box analysis were not perfect, but they did seem to give some genuinely useful information. For example, 3 of the 5 most important phrases for bad reviews were "20 minutes", "10 minutes", and "15 minutes" – strong evidence that long service times were a major driver of bad reviews.

## Takeaways (7 min)

Text pre-processing is more complex than other forms of pre-processing you might be familiar with, as good pre-processing may rely on an enormous number of rules extracted from large corpora of English (Spanish!) text. You shouldn't try to recreate this work by yourself; instead, take advantage of large and powerful libraries such as `nltk` which have built-in corpora when possible, and use regular expressions when necessary to extend or tweak them.

Pre-processing is an extremely important and nontrivial part of NLP, and will likely take the bulk of the work for most NLP projects. Most popular parts of the pipeline come with many parameters. Yet they can give surprisingly useful summaries of entire corpora without much adjustment.

Overall, NLP can be used in many situations, but it is perhaps most useful in its ability to turn qualitative data into quantitative data. For example, if we have a collection of reviews describing, qualitatively, people’s experiences at restaurants, we can derive quantitative insights such as “X% of people who left bad reviews were unhappy with the waiting time”.

After following through this case, you know what NLP is and how it can be useful. You especially know

* The challenges of NLP: context specificity and high dimensionality.
* How to standardize and pre-process text before carrying out analysis, such as stemming 
* How to tokenize documents into sentences and words
* How to create word clouds to quickly gain high-level insights into text
* What n-grams are and how they can be created and used in analysis
* Why common (“stop”) words should often be removed before analysis
* How to find common words and n-grams
* What regular expressions are and how to use them to carry out more custom analysis
* What Parts of Speech tagging is and why analysing documents by their grammatical structure can be useful

In [ ]:
nltk, wordcloud, spacy, nagisa